.wrappable {
    display: flex;
    flex-wrap: wrap;
}

.controls {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    
    @media screen and (max-width: 768px) {
        min-width: 100%;
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.control {
    width: 100%;
    display: flex;
}

.progress-bar {
    margin-top: 1em;
}