div.main {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    position: relative;
}

.main-mat-table,
.mat-form-field {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

.mat-header-cell {
    text-transform: capitalize;
}

.mat-row:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.mat-raised-button {
    margin-bottom: 20px;
}

tr.mat-footer-row {
    font-weight: bold;
}
