<mat-toolbar>
    <span>Tih-Pih-Karl</span>
    <button mat-button color="basic" routerLink="/">Home</button>
    <button mat-button color="basic" routerLink="/garage">garage</button>
    <button mat-stroked-button color="warn" routerLink="/race">Play!</button>
    <div *ngIf="userService.user$ | async; then authenticated else guest">
        <!-- template will replace this div -->
    </div>
    <ng-template #guest>
        <button mat-button color="accent" routerLink="/login" style="margin-left: auto;">Login</button>
    </ng-template>
    <ng-template #authenticated>
        <button *ngIf="userService.user$ | async as user" mat-button color="accent" routerLink="/profile"
            style="margin-left: auto;">{{ user.username }}</button>
        <button mat-button color="accent" (click)="logout()">logout</button>
    </ng-template>
</mat-toolbar>