/* You can add global styles to this file, and also import other style files */

$spinner-size: 60px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-fixed {
    position: fixed;
    top: calc(50% - #{$spinner-size} / 2);
    left: calc(50% - #{$spinner-size} / 2);
}

.spinner {
    position: absolute;
    border: 6px solid #d8d7d7;
    border-radius: 50%;
    border-top: 6px solid #5f5e5e;
    width: $spinner-size;
    height: $spinner-size;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    z-index: 225577 !important;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}